.ion-padding {
  --padding-top: calc(70px + env(safe-area-inset-top));
  --padding-bottom: calc(40px + 20px + 30px + env(safe-area-inset-bottom));
  position: relative;
  z-index: 1;
}

ion-content::part(scroll) {
  scrollbar-width: none;
  -ms-overflow-style: none;
}