<app-custom-header
  [showStartButton]="true"
  subtitle="CONFIGURAÇÕES"
  startIconName="close-outline"
  (onStartClick)="getBack()"
  [showEndButton]="true"
  (onEndClick)="save()"
  endIconName="checkmark"
  [hideOnScroll]="true"
  [scrollThreshold]="60"
></app-custom-header>

<ion-content
  [fullscreen]="true"
  class="ion-padding"
  [formGroup]="cadastroForm"
  [scrollEvents]="true"
  (ionScroll)="onContentScroll($event)"
>
  <div class="profile-section">
    <div class="avatar-upload" (click)="selectImage()">
      @if (imagemPreview) {
      <img [src]="imagemPreview" alt="Foto de perfil" class="avatar-image" />
      } @else {
      <div class="avatar-placeholder">
        <ion-icon name="person-outline" class="placeholder-icon"></ion-icon>
      </div>
      }
      <div class="upload-overlay">
        <ion-icon name="camera-outline" class="camera-icon"></ion-icon>
      </div>
      <input
        type="file"
        hidden
        accept="image/*"
        #fileInput
        (change)="onImagemSelected($event)"
      />
    </div>
    <ion-note class="upload-hint">Toque para alterar sua foto</ion-note>
  </div>

  <ion-list lines="none" class="form-section">
    <ion-item fill="solid" class="form-item">
      <ion-label position="floating">CPF</ion-label>
      <ion-input
        type="text"
        formControlName="cpf"
        maxlength="14"
        (ionInput)="formatCPF($event)"
      ></ion-input>
    </ion-item>

    <ion-item
      fill="solid"
      class="form-item"
      [class.invalid]="isFieldInvalid('name')"
    >
      <ion-label position="floating">Nome *</ion-label>
      <ion-input formControlName="name"></ion-input>
      <div class="error-message" *ngIf="isFieldInvalid('name')">
        {{ getErrorMessage('name') }}
      </div>
    </ion-item>

    <ion-item
      fill="solid"
      class="form-item"
      [class.invalid]="isFieldInvalid('lastName')"
    >
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input formControlName="lastName"></ion-input>
      <div class="error-message" *ngIf="isFieldInvalid('lastName')">
        {{ getErrorMessage('lastName') }}
      </div>
    </ion-item>

    <ion-item
      fill="solid"
      class="form-item"
      [class.invalid]="isFieldInvalid('cep')"
    >
      <ion-label position="floating">CEP *</ion-label>
      <ion-input
        type="text"
        formControlName="cep"
        (ionBlur)="searchCep()"
        maxlength="8"
      ></ion-input>
      <div class="error-message" *ngIf="isFieldInvalid('cep')">
        {{ getErrorMessage('cep') }}
      </div>
      <div class="cep-loading" *ngIf="searchingCep">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
        Buscando endereço...
      </div>
    </ion-item>

    <ion-item
      fill="solid"
      class="form-item"
      [class.invalid]="isFieldInvalid('address')"
    >
      <ion-label position="floating">Endereço *</ion-label>
      <ion-input formControlName="address" [readonly]="true"></ion-input>
      <div class="error-message" *ngIf="isFieldInvalid('address')">
        {{ getErrorMessage('address') }}
      </div>
    </ion-item>

    <div class="row">
      <ion-item
        fill="solid"
        class="form-item number"
        lines="none"
        [class.invalid]="isFieldInvalid('number')"
      >
        <ion-label position="floating">Número *</ion-label>
        <ion-input formControlName="number"></ion-input>
        <div class="error-message" *ngIf="isFieldInvalid('number')">
          {{ getErrorMessage('number') }}
        </div>
      </ion-item>
      <ion-item
        fill="solid"
        class="form-item address"
        lines="none"
        [class.invalid]="isFieldInvalid('neighborhood')"
      >
        <ion-label position="floating">Bairro *</ion-label>
        <ion-input formControlName="neighborhood" [readonly]="true"></ion-input>
        <div class="error-message" *ngIf="isFieldInvalid('neighborhood')">
          {{ getErrorMessage('neighborhood') }}
        </div>
      </ion-item>
    </div>

    <div class="row">
      <ion-item
        fill="solid"
        class="form-item address"
        lines="none"
        [class.invalid]="isFieldInvalid('city')"
      >
        <ion-label position="floating">Cidade *</ion-label>
        <ion-input formControlName="city" [readonly]="true"></ion-input>
        <div class="error-message" *ngIf="isFieldInvalid('city')">
          {{ getErrorMessage('city') }}
        </div>
      </ion-item>
      <ion-item
        fill="solid"
        class="form-item number"
        lines="none"
        [class.invalid]="isFieldInvalid('stateId')"
      >
        <ion-label position="floating">Estado *</ion-label>
        <ion-input formControlName="stateId" [readonly]="true"></ion-input>
        <div class="error-message" *ngIf="isFieldInvalid('stateId')">
          {{ getErrorMessage('stateId') }}
        </div>
      </ion-item>
    </div>

    <div class="row">
      <ion-item
        fill="solid"
        class="form-item number"
        lines="none"
        [class.invalid]="isFieldInvalid('ddd')"
      >
        <ion-label position="floating">DDD *</ion-label>
        <ion-input formControlName="ddd" maxlength="2"></ion-input>
        <div class="error-message" *ngIf="isFieldInvalid('ddd')">
          {{ getErrorMessage('ddd') }}
        </div>
      </ion-item>
      <ion-item
        fill="solid"
        class="form-item address"
        lines="none"
        [class.invalid]="isFieldInvalid('phone')"
      >
        <ion-label position="floating">Celular *</ion-label>
        <ion-input formControlName="phone"></ion-input>
        <div class="error-message" *ngIf="isFieldInvalid('phone')">
          {{ getErrorMessage('phone') }}
        </div>
      </ion-item>
    </div>

    <ion-item
      fill="solid"
      class="form-item"
      [class.invalid]="isFieldInvalid('email')"
    >
      <ion-label position="floating">E-mail *</ion-label>
      <ion-input formControlName="email" [clearOnEdit]="false"></ion-input>
      <div class="error-message" *ngIf="isFieldInvalid('email')">
        {{ getErrorMessage('email') }}
      </div>
    </ion-item>

    <ion-item
      fill="solid"
      class="form-item"
      [class.invalid]="isFieldInvalid('password')"
    >
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        [clearOnEdit]="false"
      ></ion-input>
      <div class="error-message" *ngIf="isFieldInvalid('password')">
        {{ getErrorMessage('password') }}
      </div>
    </ion-item>

    <ion-item fill="solid" class="form-item" *ngIf="user.profile > 0">
      <ion-label position="floating">Subtítulo</ion-label>
      <ion-input formControlName="subtitle"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="form-item" *ngIf="user.profile > 0">
      <ion-label position="floating">Serviços prestados</ion-label>
      <ion-input formControlName="servicesProvided"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="toggle-item" [disabled]="true">
      <ion-icon name="trending-down-outline" slot="start"></ion-icon>
      <ion-toggle
        formControlName="acceptAwaysMinorQueue"
        slot="end"
      ></ion-toggle>
      <ion-label>Aceitar sempre a menor fila</ion-label>
    </ion-item>

    <ion-item fill="solid" class="toggle-item" *ngIf="user.profile > 0">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-toggle formControlName="useAgenda" slot="end"></ion-toggle>
      <ion-label>Usar Agenda </ion-label>
    </ion-item>
  </ion-list>

  <div class="wallpaper-section" *ngIf="false">
    <ion-label class="section-title">Papel de parede do perfil</ion-label>
    <div class="wallpaper-upload" (click)="selectWallpaper()">
      @if (wallpaperPreview) {
      <img [src]="wallpaperPreview" alt="Wallpaper" class="wallpaper-image" />
      } @else {
      <div class="wallpaper-placeholder">
        <ion-icon name="image-outline" class="placeholder-icon"></ion-icon>
        <span>Selecionar imagem</span>
      </div>
      }
      <input
        type="file"
        hidden
        accept="image/*"
        #wallpaperInput
        (change)="onWallpaperSelected($event)"
      />
    </div>

    @if (wallpaperPreview) {
    <ion-button
      fill="clear"
      color="danger"
      size="small"
      (click)="removerWallpaper()"
      class="remove-button"
    >
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Remover
    </ion-button>
    }
  </div>

  <ion-item fill="solid" class="toggle-item delete-account-item">
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    <ion-toggle
      formControlName="deleteAccount"
      (ionChange)="onDeleteAccountToggle($event)"
      slot="end"
    ></ion-toggle>
    <ion-label class="delete-label">Deletar minha conta</ion-label>
  </ion-item>

  <ion-item
    disabled="true"
    fill="solid"
    class="form-item"
  >
    <ion-label position="floating">Identificador</ion-label>
    <ion-input formControlName="id" [readonly]="true"></ion-input>    
  </ion-item>
</ion-content>

<app-footer-menu></app-footer-menu>
