<div class="custom-footer-fixed">
  <div class="footer-container">
    <div
      class="footer-button"
      [class.active]="activeButton === 'home'"
      (click)="goToHome(true); setActive('home')"
    >
      <ion-icon name="home-outline"></ion-icon>
      <span *ngIf="activeButton !== 'home'">Início</span>
    </div>

    <div
      class="footer-button"
      [class.active]="activeButton === 'cart'"
      (click)="goToPromotions(); setActive('cart')"
    >
      <ion-icon name="cart-outline"></ion-icon>
      <span *ngIf="activeButton !== 'cart'"
        >Feirinha <br />
        do Bairro</span
      >
    </div>

    <div class="footer-button central" (click)="goToHome()">
      <div class="central-icon fila-notification-wrapper">
        <ion-icon
          *ngIf="profile === 0 || !userFromSession?.useAgenda"
          name="people-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="profile > 0 && userFromSession?.useAgenda"
          name="calendar-outline"
        ></ion-icon>
        <span class="notification-badge" *ngIf="total > 0">{{ total }}</span>
      </div>
      <div class="central-labels">
        <span
          *ngIf="profile === 0 || !userFromSession?.useAgenda"
          class="central-menu"
          >Filas</span
        >
        <span
          *ngIf="profile > 0 && userFromSession?.useAgenda"
          class="central-menu"
          >Agenda</span
        >
      </div>
    </div>

    <div
      class="footer-button"
      [class.active]="activeButton === 'notifications'"
      (click)="goToNotifications(); setActive('notifications')"
    >
      <div class="icon-wrapper">
        <ion-icon name="notifications-outline"></ion-icon>
        <span
          class="notification-badge"
          *ngIf="notificationsCount$ | async as contador"
          [hidden]="contador === 0"
        >
          {{ contador }}
        </span>
      </div>
      <span *ngIf="activeButton !== 'notifications'">Notificações</span>
    </div>

    <div
      class="footer-button"
      [class.active]="activeButton === 'menu'"
      (click)="openMenu(); setActive('menu')"
    >
      <ion-icon name="menu-outline"></ion-icon>
      <span *ngIf="activeButton !== 'menu'">Menu</span>
    </div>
  </div>
</div>
