<div class="splash-screen">
  <div class="animated-background"></div>

  <div class="bg-logo fade-in">
    <img src="assets/images/splash/logo.png" alt="Logo" />
  </div>

  <div class="loading-event">
    <div class="dual-spinner">
      <div class="circle outer"></div>
      <div class="circle inner"></div>
    </div>
  </div>

  <div class="startup-logo fade-in">
    <img
      src="assets/images/utils/logo_nurbr_com_fundo_logo.png.png"
      alt="Logo startup"
    />
    <div class="version fade-in">Versão 1.0</div>
  </div>
</div>
