<app-custom-header
  title="CHECKOUT"
  [subtitle]="professionalData.name"
  [showEndButton]="true"
  [showStartButton]="true"
  endIconName="checkmark-outline"
  [endDisabled]="!selectedPaymentMethod"
  (onEndClick)="confirmCheckout()"
  (onStartClick)="goBack()"
>
</app-custom-header>

<ion-content class="checkout-content" [fullscreen]="true">
  <div class="checkout-container">
    <!-- <div class="store-header">
      <h1>{{ storeData.name }}</h1>
      <div class="waiting-time">
        <ion-icon name="time-outline"></ion-icon>
        <span>Tempo estimado: {{ totalTimeString }} de espera</span>
      </div>
    </div> -->

    <div class="services-section">
      <h3 class="section-title">Serviços selecionados</h3>
      <div class="services-list-compact">
        <div
          *ngFor="let service of selectedServices"
          class="service-item-compact"
        >
          <div class="service-name">
            {{ service.name }}
            <span *ngIf="service.quantity > 1" class="service-quantity">
              (x{{ service.quantity }})
            </span>
          </div>

          <div class="service-details">
            <span class="service-price" *ngIf="!service.variablePrice">
              {{ (service.price * service.quantity) |
              currency:'BRL':'symbol':'1.2-2' }}
            </span>

            <span class="service-price" *ngIf="service.variablePrice">
              R$ 0,00
            </span>

            <span class="service-time" *ngIf="service.quantity === 1">
              <span *ngIf="service.variableTime"> (a combinar) </span>
              <span *ngIf="!service.variableTime">
                {{ service.duration }} min
              </span>
            </span>
            <span class="service-time" *ngIf="service.quantity > 1">
              <span *ngIf="service.variableTime"> (a combinar) </span>
              <span *ngIf="!service.variableTime">
                {{ service.duration }} min
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="entry-time" *ngIf="flow === 'queue'">
      <ion-icon name="calendar-outline"></ion-icon>
      <span
        ><b>Entrada na fila às</b> {{ currentTime }}
        <div class="waiting-time">
          <span><b>Tempo estimado:</b> {{ totalTimeString }} de espera</span>
        </div>
      </span>
    </div>

    <div class="entry-time" *ngIf="flow !== 'queue'">
      <ion-icon name="calendar-outline"></ion-icon>
      <span>Agendamento: {{ selectedTimeSlot }}</span>
    </div>

    <div class="payment-section">
      <h3 class="section-title">Pagamento</h3>

      <div class="payment-grid">
        <div
          *ngFor="let method of paymentMethods"
          class="payment-card"
          [class.selected]="selectedPaymentMethod?.type === method.type"
          (click)="selectPaymentMethod(method)"
        >
          <ion-icon [name]="method.icon" class="payment-icon"></ion-icon>

          <span class="payment-name"> {{ method.name }} </span>
        </div>
      </div>

      <div
        class="installments-wrapper"
        *ngIf="selectedPaymentMethod?.type === 2 && selectedPaymentMethod?.acceptsCredit"
      >
        <ion-item lines="none" class="installments-selector">
          <ion-label>Parcelamento</ion-label>

          <ion-select
            [(ngModel)]="selectedInstallments"
            interface="action-sheet"
            (ionChange)="calculateInstallments()"
          >
            <ion-select-option
              *ngFor="let option of installmentsOptions"
              [value]="option"
            >
              {{ option }}x de {{ calculateInstallmentValue(option) |
              currency:'BRL':'symbol':'1.2-2' }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>

    <div class="pricing-section">
      <div class="price-row">
        <span>Subtotal</span>
        <span class="value">
          {{ subtotal | currency:'BRL':'symbol':'1.2-2' }}</span
        >
      </div>
      <div class="price-row" *ngIf="serviceFee > 0">
        <span>Taxa de Serviço</span>
        <span class="value"
          >{{ serviceFee | currency:'BRL':'symbol':'1.2-2' }}</span
        >
      </div>
      <div class="price-row total">
        <span>Valor Final</span>
        <div class="total-wrapper">
          <span class="blue-total">
            {{ finalTotal | currency:'BRL':'symbol':'1.2-2' }}
          </span>
          <span *ngIf="hasVariablePrice" class="variable-note">
            + a combinar
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-footer-menu></app-footer-menu>
