<ion-content fullscreen class="auth-content">
  <div class="form-container auth-card">

    <div class="go-back">
      <a routerLink="/login">
        <img
          src="assets/images/create-account/icon-go-back.svg"
          alt="Icon go back"
        />
      </a>
    </div>

    <div class="form-header">
      <div class="security-icon">
        <ion-icon name="person-add"></ion-icon>
      </div>

      <h1 class="greeting">Criar nova conta</h1>
      <p class="instruction">Preencha os dados para continuar</p>
    </div>

    <form
      class="login-form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit($event)"
    >

      <!-- NOME -->
      <div class="input-group">
        <div class="input-label">
          <ion-icon name="person-outline" class="input-icon"></ion-icon>
          <label>Nome</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input type="text" placeholder="Seu nome" formControlName="name"></ion-input>
        </ion-item>
        <small class="error-text" *ngIf="isFieldInvalid('name')">
          {{ getErrorMessage('name') }}
        </small>
      </div>

      <!-- SOBRENOME -->
      <div class="input-group">
        <div class="input-label">
          <ion-icon name="people-outline" class="input-icon"></ion-icon>
          <label>Sobrenome</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input type="text" placeholder="Seu sobrenome" formControlName="lastname"></ion-input>
        </ion-item>
        <small class="error-text" *ngIf="isFieldInvalid('lastname')">
          {{ getErrorMessage('lastname') }}
        </small>
      </div>

      <div class="input-group">
        <div class="input-label">
          <ion-icon name="mail-outline" class="input-icon"></ion-icon>
          <label>E-mail</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input type="email" placeholder="seu@email.com" formControlName="email"></ion-input>
        </ion-item>
        <small class="error-text" *ngIf="isFieldInvalid('email')">
          {{ getErrorMessage('email') }}
        </small>
      </div>

      <div class="input-group">
        <div class="input-label">
          <ion-icon name="call-outline" class="input-icon"></ion-icon>
          <label>Telefone</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input type="tel" placeholder="DDD + número" formControlName="phone"></ion-input>
        </ion-item>
        <small class="error-text" *ngIf="isFieldInvalid('phone')">
          {{ getErrorMessage('phone') }}
        </small>
      </div>

      <div class="input-group">
        <div class="input-label">
          <ion-icon name="location-outline" class="input-icon"></ion-icon>
          <label>CEP</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input
            type="tel"
            placeholder="00000-000"
            formControlName="cep"
            maxlength="9"
            (ionBlur)="searchCep()"
          ></ion-input>
        </ion-item>
        <small class="error-text" *ngIf="isFieldInvalid('cep')">
          {{ getErrorMessage('cep') }}
        </small>
      </div>

      <div class="input-group">
        <div class="input-label">
          <ion-icon name="home-outline" class="input-icon"></ion-icon>
          <label>Endereço</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input type="text" placeholder="Endereço" formControlName="address" readonly></ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <div class="input-label">
          <ion-icon name="map-outline" class="input-icon"></ion-icon>
          <label>Bairro</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input type="text" placeholder="Bairro" formControlName="neighborhood" readonly></ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <div class="input-label">
          <ion-icon name="business-outline" class="input-icon"></ion-icon>
          <label>Cidade</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input type="text" placeholder="Cidade" formControlName="city" readonly></ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <div class="input-label">
          <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
          <label>Senha</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input type="password" placeholder="Digite sua senha" formControlName="password"></ion-input>
        </ion-item>
        <small class="error-text" *ngIf="isFieldInvalid('password')">
          {{ getErrorMessage('password') }}
        </small>
      </div>

      <div class="input-group">
        <div class="input-label">
          <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
          <label>Confirmar senha</label>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-input type="password" placeholder="Confirme sua senha" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <small class="error-text" *ngIf="registerForm.hasError('mismatch')">
          As senhas não coincidem
        </small>
      </div>

      <div class="terms-wrapper" [class.invalid]="isFieldInvalid('termsAccepted')">
        <ion-checkbox formControlName="termsAccepted"></ion-checkbox>
        <label>
          Li e aceito os <a href="#">Termos de Uso</a> e
          <a href="#">Política de Privacidade</a>
        </label>
      </div>

      <small class="error-text" *ngIf="isFieldInvalid('termsAccepted')">
        {{ getErrorMessage('termsAccepted') }}
      </small>

      <ion-button expand="block" type="submit" [disabled]="registerForm.invalid || loading">
        <ion-spinner *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">Cadastrar</span>
      </ion-button>

    </form>
  </div>
</ion-content>
