<app-custom-header
  [title]="'ESCOLHER EMPRESA'"
  [showStartButton]="true"
  [showEndButton]="false"
  [startIconName]="'arrow-back-outline'"
  [endIconName]="'refresh-outline'"
  (onStartClick)="getBack()"
>
</app-custom-header>

<ion-content class="establishment-content">
  <div class="header-background-modern">
    <ng-container *ngIf="selectedHeaderImage; else defaultHeader">
      <ion-img [src]="selectedHeaderImage" class="header-img fade-in"></ion-img>
    </ng-container>
    <ng-template #defaultHeader>
      <div class="default-header">
        <div class="default-header-icon">
          <ion-icon name="business"></ion-icon>
        </div>
      </div>
    </ng-template>
    <div class="header-overlay"></div>
  </div>

  <div class="logo-wrapper">
    <ng-container *ngIf="selectedLogo; else defaultLogo">
      <ion-img [src]="selectedLogo" class="fade-in"></ion-img>
    </ng-container>
    <ng-template #defaultLogo>
      <div class="default-logo">
        <ion-icon name="business"></ion-icon>
      </div>
    </ng-template>
  </div>

  <ion-card
    class="service-card"
    *ngFor="let est of establishments"
    (click)="handleCompanyClick(est)"
  >
    <ion-card-content>
      <div class="card-header">
        <h2>{{ est.name }}</h2>
        <ion-spinner
          *ngIf="loadingCompanyId === est.id"
          name="crescent"
          class="card-spinner"
        >
        </ion-spinner>
      </div>
      <p>{{ est.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
